<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Cisco based central cloud!</title>

<!-- Bootstrap Core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/static/css/agency.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">


<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
	rel='stylesheet' type='text/css'>

</head>

<script>
	function myFunction() {
		var pass1 = document.getElementById("inputPassword").value;
		var pass2 = document.getElementById("inputConfirmPassword").value;
		var ok = true;
		if (pass1 != pass2) {
			//alert("Passwords Do not match");
			document.getElementById("inputPassword").style.borderColor = "#E34234";
			document.getElementById("inputConfirmPassword").style.borderColor = "#E34234";
			alert("Passwords Mis-match!!!");
			ok = false;
		}
		return ok;
	}
</script>
<body id="page-top" class="index">

	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top"><img src="static/img/cisco_logo_blue.png"></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden"><a href="#page-top"></a></li>
					<li><a class="page-scroll" href="#benefits">Benefits</a></li>
					<li><a class="page-scroll" href="#services">Services</a></li>
					<li><a class="page-scroll" href="#register">Register</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<!-- Header -->
	<header>

			<div class="container">
			<div class="intro-text">
				<h2 class="section-heading">Falcon SaaS Platform</h2>
				<div class="intro-lead-in"></div>
			</div>
		</div>
	</header>


	<div class="dmc-home-quicktasks">
	  <h2>Quick Links</h2>
  		<ul>
        	<li> <a href="/c/en/us/solutions/enterprise/design-zone/index.html" data-config-metrics-group="quick_tasks" data-config-metrics-title="customers" data-config-metrics-item="Know More" class="icon" onclick="s_objectID=&quot;/content/en/us/solutions/enterprise/design-zone/index.html_3&quot;;return this.s_oc?this.s_oc(e):true"><img src="//www.static-cisco.com/assets/dmr/homepage/quicktasks/design-guides.png"></a>
            	 <a href="/c/en/us/solutions/enterprise/design-zone/index.html" data-config-metrics-group="quick_tasks" data-config-metrics-title="customers" class="content" onclick="s_objectID=&quot;/content/en/us/solutions/enterprise/design-zone/index.html_4&quot;;return this.s_oc?this.s_oc(e):true">Know More</a></li>
			<li> <a href="http://www.cisco.com/web/learning/training-index.html" data-config-metrics-group="quick_tasks" data-config-metrics-title="customers" data-config-metrics-item="Watch Videos" class="icon" onclick="s_objectID=&quot;http://www.cisco.com/web/learning/training-index.html_3&quot;;return this.s_oc?this.s_oc(e):true"><img src="//www.static-cisco.com/assets/dmr/homepage/quicktasks/career-certifications.png"></a>
				 <a href="http://www.cisco.com/web/learning/training-index.html" data-config-metrics-group="quick_tasks" data-config-metrics-title="customers" class="content" onclick="s_objectID=&quot;http://www.cisco.com/web/learning/training-index.html_4&quot;;return this.s_oc?this.s_oc(e):true">Watch Videos</a></li>
			<li> <a href="https://software.cisco.com/download/navigator.html" data-config-metrics-group="quick_tasks" data-config-metrics-title="customers" data-config-metrics-item="Available Softwares" class="icon" onclick="s_objectID=&quot;https://software.cisco.com/download/navigator.html_3&quot;;return this.s_oc?this.s_oc(e):true"><img src="//www.static-cisco.com/assets/dmr/homepage/quicktasks/software-downloads.png"></a>
				 <a href="https://software.cisco.com/download/navigator.html" data-config-metrics-group="quick_tasks" data-config-metrics-title="customers" class="content" onclick="s_objectID=&quot;https://software.cisco.com/download/navigator.html_4&quot;;return this.s_oc?this.s_oc(e):true">Available Software List</a></li>
			<li> <a href="https://tools.cisco.com/bugsearch/" data-config-metrics-group="quick_tasks" data-config-metrics-title="customers" data-config-metrics-item="Bugs" class="icon" onclick="s_objectID=&quot;https://tools.cisco.com/bugsearch/_1&quot;;return this.s_oc?this.s_oc(e):true"><img src="//www.static-cisco.com/assets/dmr/homepage/quicktasks/bugs.png"></a>
				 <a href="https://supportforums.cisco.com" data-config-metrics-group="quick_tasks" data-config-metrics-title="customers" class="content" onclick="s_objectID=&quot;https://supportforums.cisco.com/_3&quot;;return this.s_oc?this.s_oc(e):true">Check Usage</a></li>
			<li> <a href="https://supportforums.cisco.com" data-config-metrics-group="quick_tasks" data-config-metrics-title="customers" data-config-metrics-item="Support Community" class="icon" onclick="s_objectID=&quot;https://supportforums.cisco.com/_4&quot;;return this.s_oc?this.s_oc(e):true"><img src="//www.static-cisco.com/assets/dmr/homepage/quicktasks/support-community.png"></a>
				 <a href="https://supportforums.cisco.com" data-config-metrics-group="quick_tasks" data-config-metrics-title="customers" class="content" onclick="s_objectID=&quot;https://supportforums.cisco.com/_5&quot;;return this.s_oc?this.s_oc(e):true">Community Support</a></li>
			<li> <a href="https://tools.cisco.com/ServiceRequestTool/scm/mgmt/case" data-config-metrics-group="quick_tasks" data-config-metrics-title="customers" data-config-metrics-item="Support Cases" class="icon" onclick="s_objectID=&quot;https://tools.cisco.com/ServiceRequestTool/scm/mgmt/case_3&quot;;return this.s_oc?this.s_oc(e):true"><img src="//www.static-cisco.com/assets/dmr/homepage/quicktasks/support-cases.png"></a>
				 <a href="https://tools.cisco.com/ServiceRequestTool/scm/mgmt/case" data-config-metrics-group="quick_tasks" data-config-metrics-title="customers" class="content" onclick="s_objectID=&quot;https://tools.cisco.com/ServiceRequestTool/scm/mgmt/case_4&quot;;return this.s_oc?this.s_oc(e):true">Tech Support</a></li>
		  </ul>
	</div>



	<!-- Services Section -->
	<section id="benefits">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Benefits</h2>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<h4 class="service-heading">Pluggable Architecture</h4>
					<p class="text-muted">Plug and play architecture.</p>
				</div>
				<div class="col-md-4">
					<h4 class="service-heading">Scalable Architecture</h4>
					<p class="text-muted">Easy to scale.</p>
				</div>

				<div class="col-md-4">
					<h4 class="service-heading">Single Point of Contact</h4>
					<p class="text-muted">One point for people to reach.</p>
				</div>
				<div class="col-md-4">
					<h4 class="service-heading">Single Point of Billing</h4>
					<p class="text-muted">One point for billing.</p>
				</div>
				<div class="col-md-4">
					<h4 class="service-heading">Easy Maintainance</h4>
					<p class="text-muted">Easy and online suppport available.</p>
				</div>
				<div class="col-md-4">
					<h4 class="service-heading">Choose Your Software</h4>
					<p class="text-muted">Choose your own softwares and you are good to go.</p>
				</div>

			</div>
		</div>
	</section>

	<!-- Team Section -->
	<section id="services">
	 <div class="mainbody-section text-center">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">

                        <div class="menu-item blue">
                            <a href="#feature-modal" data-toggle="modal">
                                <i class="fa fa-magic"></i>
                                <p>Let me Choose</p>
                            </a>
                        </div>

                        <div class="menu-item green" >
                            <a href="#portfolio-modal" data-toggle="modal">
                                <i class="fa fa-file-photo-o"></i>
                                <p>Start Up</p>
                            </a>
                        </div>

                        <div class="menu-item light-red">
                            <a href="#about-modal" data-toggle="modal">
                                <i class="fa fa-user"></i>
                                <p>PROFESSIONAL</p>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <!-- Start Carousel Section -->
                        <div class="home-slider">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="padding-bottom: 30px;">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="static/img/about-03.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="static/img/about-02.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="static/img/about-01.jpg" class="img-responsive" alt="">
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- Start Carousel Section -->



                    </div>

                    <div class="col-md-3">

                        <div class="menu-item light-red">
                            <a href="#contact-modal" data-toggle="modal">
                                <i class="fa fa-users"></i>
                                <p>Large Scale</p>
                            </a>
                        </div>

                        <div class="menu-item color">
                            <a href="#testimonial-modal" data-toggle="modal">
                                <i class="fa fa-comment-o"></i>
                                <p>Testimonial</p>
                            </a>
                        </div>

                        <div class="menu-item  	blue">
                            <a href="#news-modal" data-toggle="modal">
                                <i class="fa fa-mortar-board"></i>
                                <p>Latest News</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Body Section -->

	</section>
	<section id="register">
		<div class="RegisterForm" method="post"
			action="${pageContext.request.contextPath}/createAccount"
			onsubmit="return myFunction()">
			<form class="form-upload" method="post"
				action="${pageContext.request.contextPath}/createAccount"
				onsubmit="return myFunction()">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading">REGISTER</h2>
					</div>
				</div>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="First Name *"
						name="firstname" id="inputFirstName" required
						data-validation-required-message="Please enter your first name.">
					<p class="help-block text-danger"></p>
				</div>

				<div class="form-group">
					<input type="text" class="form-control" name="lastname"
						placeholder="Last Name *" id="inputLastName" required
						data-validation-required-message="Please enter your last name.">
					<p class="help-block text-danger"></p>
				</div>

				<div class="form-group">
					<input type="email" class="form-control" placeholder="Email *"
						name="email" id="inputEmail" required
						data-validation-required-message="Please enter your email address.">
					<p class="help-block text-danger"></p>
				</div>


				<div class="form-group">
					<input type="tel" class="form-control" placeholder="Phone *"
						name="mobileNumber" id="inputPhone" required
						data-validation-required-message="Please enter your phone number.">
					<p class="help-block text-danger"></p>
				</div>
				<div class="form-group">
					<input type="password" class="form-control"
						placeholder="Company Name *" name="password1"
						id="inputConfirmPassword" required
						data-validation-required-message="Company Name">
					<p class="help-block text-danger"></p>
				</div>

				<div class="form-group">
					<input type="password" class="form-control"
						placeholder="Password *" name="password" id="inputPassword"
						required data-validation-required-message="Please enter password.">
					<p class="help-block text-danger"></p>
				</div>
				<div class="form-group">
					<input type="password" class="form-control"
						placeholder="Confirm Password *" name="password1"
						id="inputConfirmPassword" required
						data-validation-required-message="Please enter password.">
					<p class="help-block text-danger"></p>
				</div>

				<p>By creating an account you agree to our Terms of Service.</p>
				<input class="btn btn-lg btn-primary btn-block" TYPE="submit"
					value="Get me Falcon">

			</form>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<span class="copyright">Copyright &copy;2015 Cisco Systems INC</span>
				</div>
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<ul class="list-inline quicklinks">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms of Use</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- jQuery -->
	<script src="/static/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/static/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script
		src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="/static/js/classie.js"></script>
	<script src="/static/js/cbpAnimatedHeader.js"></script>

	<!-- Contact Form JavaScript -->
	<script src="/static/js/jqBootstrapValidation.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="/static/js/agency.js"></script>
</body>
</html>